<?xml version="1.0"?>
<launch>
  <arg name="config" default="true"/>
  <arg name="rviz_config" default="$(find baxter_moveit_config)/launch/moveit.rviz" />
  <arg name="planner" default="ompl" />
  <arg name="debug" default="false" />

  <!-- Left and right electric gripper params. Set to true to check for collisions for their links -->
  
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch"/>

  <arg name="kinect" default="false" />
  <arg name="xtion" default="false" />
  <arg name="camera_link_pose" default="0.15 0.075 0.5 0.0 0.7854 0.0"/>
  <include file="$(find baxter_moveit_config)/launch/move_group.launch">
    <arg name="kinect" value="$(arg kinect)" />
    <arg name="xtion" value="$(arg xtion)" />
    <arg name="camera_link_pose" value="$(arg camera_link_pose)"/>
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="planner" value="$(arg planner)" />
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)" />
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

  <!-- <include file="$(find baxter_moveit_config)/launch/ros_controllers.launch" >
  </include> -->

  <!-- As of ROS Kinetic / Ubuntu 16.04 the mongo driver does not have a binary and must be installed from source.
       Therefore, this functionality is disabled by default. For more info:
       https://github.com/ros-planning/moveit/issues/123
  -->
  <!-- <include file="$(find baxter_moveit_config)/launch/default_warehouse_db.launch" /> -->

</launch>
