<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_gripper">
    <xacro:macro name="robotiq_gripper" params="side"> <!-- fingerprefix is like side[0]-->

    <!-- Disable collision between two specific links: link1 and link2 -->
    <disable_collisions link1="left_inner_finger_pad" link2="left_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="left_outer_finger" link2="left_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="left_outer_finger" link2="left_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="left_inner_finger" link2="left_inner_knuckle" reason="Adjacent"/>

    <disable_collisions link1="right_inner_finger_pad" link2="right_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="right_outer_finger" link2="right_inner_finger" reason="Adjacent"/>
    <disable_collisions link1="right_outer_finger" link2="right_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="right_inner_finger" link2="right_inner_knuckle" reason="Adjacent"/>


    <disable_collisions link1="left_gripper_base" link2="left_inner_finger_pad" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="left_inner_finger" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="left_inner_knuckle" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="left_outer_finger" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="left_outer_knuckle" reason="Never" />

    <disable_collisions link1="left_gripper_base" link2="right_inner_finger_pad" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="right_inner_finger" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="right_inner_knuckle" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="right_outer_finger" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="right_outer_knuckle" reason="Never" />

    <disable_collisions link1="left_gripper_base" link2="${side}_hand" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_hand_accelerometer" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_hand_camera" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_hand_range" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_lower_elbow" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_lower_forearm" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_upper_forearm" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_upper_forearm_visual" reason="Never" />
    <disable_collisions link1="left_gripper_base" link2="${side}_wrist" reason="Never" />
    
    </xacro:macro>

</robot>  
